<div class="separation"></div>

<div class="aboutme">
  <article>
    <div class="underline"></div>
    <h1>Bienvenido</h1>
    <h4>a mi primera app en angular</h4>
  </article>
  <div class="underline"></div>
</div>

<article>
  <p>
    Utiliza el buscador de la esquina superior derecha para buscar a tu
    personaje favorito.
  </p>
  <p>
    También puedes hacer uso de la navegación de la página y consultar la lista
    completa de personajes y elegir tu favorito para hacer click sobre el y
    conocer sus detalles.
  </p>
</article>
