<div class="separation"></div>

<div class="aboutme">
  <div class="underline"></div>
  <h1>Soy Jorge,</h1>
  <h4>Desarrollador Front-end(en proceso)</h4>
  <article class="imgHolder">
    <img
      src="../../../../assets/42ecb243-57b8-416f-be4e-28ec882d432f.jpg"
      class="imgJorge"
      alt="Jorge"
    />
    <p>
      Si, el de la foto es Obama, Cuando vaya cogiendo forma pondré una mía por
      ahora esta sección <em>About</em> es genérica
    </p>
  </article>
</div>

<article class="about-info">
  <div class="about">
    <h4>About</h4>
    <div class="underline"></div>
  </div>
  <div class="aboutApp">
    <p>
      FALTA CAMBIAR TODO CSS A BEM, MEJORAR ESTRUCTURA DE ALS CARPETAS Y MUCHO
      MÁS. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quae,
      eum maiores est enim earum fugiat aspernatur. Fuga qui iste amet
      reiciendis possimus rerum omnis recusandae molestias error consequuntur,
      doloribus inventore reprehenderit officiis. Dolore aut, repellendus eius
      fugiat numquam cumque.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quae, eum
      maiores est enim earum fugiat aspernatur. Fuga qui iste amet reiciendis
      possimus rerum omnis recusandae molestias error consequuntur, doloribus
      inventore reprehenderit officiis. Dolore aut, repellendus eius fugiat
      numquam cumque.
    </p>
  </div>
</article>
