<footer class="footer">
  <!-- social icons -->
  <ul class="socialIcons">
    <li>
      <a href="https://www.twitter.com" class="socialIcon">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com" class="socialIcon">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>

    <li>
      <a href="https://www.twitter.com" class="socialIcon">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>

  <p>&copy;Jorge García Serna. all rights reserved</p>
</footer>
